<?xml version="1.0" encoding="UTF-8"?>
<!--  기본세팅 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.yoojung0318.ex.jsp.dao.SellerDAO">
  
  	<insert id="insertUser" parameterType="map">
  	
  		INSERT INTO 
  				`seller`
  		(
  			`nickname`
  			, `profileImage`
  			, `temperature`	
  			, createdAt
  			, updatedAt
  		)
  		
  		VALUES
  		(
  		#{nickname}
  		, #{profileImage}
  		, #{temperature}
  		, now()
  		, now()
  		)
  		
  	
  	</insert>
  
  </mapper>