<?xml version="1.0" encoding="UTF-8"?>
<!-- 프로젝트 설정 , 사용할 data 정리, 2.쿼리수행-->

<!--  mybatis xml dtd // mapper 쓸거니까  mapper 들어있는 걸로
기본세팅-->

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- 연결 성공 여부 확인 : ctrl누르고 주소 위에 커서  -->
<mapper namespace="com.yoojung0318.ex.database.dao.UsedGoodsDAO">
	
	<select id="selectUsedGoodsList" resultType="com.yoojung0318.ex.database.model.UsedGoods">
		SELECT 
			`id`
			, `sellerId`
			, `title`
			, `price`
			, `description`
			, `picture`
			, `createdAt`
			, `updatedAt`
		FROM
			`used_goods`
	</select>	


</mapper>